<section class="footer" id="footer">
  <div class="container-fluid">
    <div class="section">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 offset-md-2 offset-lg-2 offset-xl-2 info-at center-block text-center">

        <a href="https://www.google.com/maps/place/Bookworm/@40.032183,-105.258974,17z/data=!4m7!1m4!3m3!1s0x876bee7b11b8db43:0x113ab84391c93ba1!2sBookworm!3b1!3m1!1s0x876bee7b11b8db43:0x113ab84391c93ba1" class="txt"><span class="glyphicon">&#xe062;</span> 3175 28th Street</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 info center-block text-center">
        <span class="glyphicon txt">&#xe183; (303)449-3765</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 info center-block text-center">
        <span class="glyphicon txt">&#xe023; M-F 10-6, Sat 10-5, Sun 12-5</span>
      </div>
    </div>
      <div class="col-xs-12">
        <p> © 2016 The Bookworm - Website By Zack Dille </p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12">
        <p> © 2016 The Bookworm - Website By Zack Dille </p>
      </div>
    </div> -->
  </div>
</section>
