.parallax {
  background-color: #607D8B;
  height: 100%;
  background-size: cover;
  position: relative;
  /*display: block;*/
  text-align: center;

}

.bookworm-img {
  margin-top: 2%;
  margin-bottom: 8%;
  height: 78px;
  width: 100%;
  background-position: center center;
  background-image: url(assets/images/bookworm-logo-graphic.png);
  background-repeat: no-repeat;
  background-size: auto auto;
}


.sign-up-banner {
  padding-top: 5%;
}

.center {
  /*margin: auto;
   width: 50%;*/
   /*text-align: left;*/
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.form-row {
  /*padding-top: 2em;*/
  padding-bottom: .5em;
}

.background-login {
  margin: auto;
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 15%;
  padding-bottom: 30%;
  /*padding: 25%;*/
  /*overflow-y: hidden;*/
  background-size: cover;
  background-color: #607D8B;
  height: 100%;
}

.form-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #455A64;
  opacity: .9;
  border-width: 3px;
  border-color: #002157;
  border-radius: 2px;
}
.login-title {
  padding-top: 10%;
  padding-bottom: 5%;
  position: relative;
  /*margin: auto;*/
   /*width: 50%;*/
  text-align: center;
  vertical-align: middle;
}

.btn-banner {
  color:#212121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 600;
  border-color: #002157;
  /*margin-right: 10px;*/
  margin-top: 5%;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
