<div class="search-wrapper">
  <div class="author-form-wrapper">
    <form class="form-inline" >
      <div class="row center form-row">
        <div class="col-md-12 ">
          <div class="form-group">
            <input class="form-control" name="author" placeholder="Author" #author>
          </div>
        </div>
      </div>
      <div class="row center form-row">
        <div class="col-md-12 center ">
          <a class="btn btn-primary-outline btn-banner" (click)="searchByAuthor(author.value)">Submit</a>
        </div>
      </div>
    </form>
  </div>
  <div class="title-form-wrapper">
    <form class="form-inline" >
      <div class="row center form-row">
        <div class="col-md-12 ">
          <div class="form-group">
            <input class="form-control" name="title" placeholder="Title" #title>
          </div>
        </div>
      </div>
      <div class="row center form-row">
        <div class="col-md-12 center ">
          <a class="btn btn-primary-outline btn-banner" (click)="searchByTitle(title.value)">Submit</a>
        </div>
      </div>
    </form>
  </div>
</div>
