<!-- <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-primary-outline btn-banner" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Genre's</h4>
      </div>
      <div class="modal-body">
        <h4>Eastern Religion * History * Mysteries * Fiction * Large Science Fiction/Fantasy Section * Books on CD * Movies * Westerns * Classics * Self Help * The largest used children book selection in Boulder * Biographies * New Age * Non Fiction </h4>
      </div>
      <div class="modal-footer ">
        <h5>*** And much more ***</h5>
        <button type="button" class="btn btn-secondary btn-primary-outline btn-banner" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<div class="parallax header-banner text-center">
  <div class="parallax-pattern-overlay">
    <div class="container" id="size-banner">
      <div class="row">
        <div class="title-img"></div>
        <div class="bookworm-img"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 offset-md-2 offset-lg-3 offset-xl-3">
          <h3 class="banner-tag-line">Boulder's Largest Used Book Store</h3>
        </div>
      </div>
      <div class="row">
        <div class="">
          <a class="btn btn-primary-outline btn-banner" routerLinkActive="active" [routerLink]="['login']">Join</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 offset-md-2 offset-lg-3 offset-xl-3 genre-text">
          <h3> We have books in all genres.</h3>
          <!-- <button type="button" class="btn btn-primary-outline btn-banner btn-lg" data-toggle="modal" data-target="#bookModal"> We have Books in all Genres.</button> -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 offset-md-1 offset-lg-1 offset-xl-1 book-types">
          <h3>Eastern Religion * History * Mysteries * Fiction * Large Science Fiction/Fantasy Section * Books on CD * Movies * Westerns * Classics * Self Help * The largest used children book selection in Boulder * Biographies * New Age * Non Fiction </h3>
        </div>
      </div>

    </div>
  </div>
</div>
